﻿@model IEnumerable<EquipmentRentalWeb.Models.CartItem>

@{
    ViewBag.Title = "Your Cart Items";
}

<h2>Your Cart Items</h2>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
          
            <th scope="col"> @Html.DisplayNameFor(model => model.EquipmentItem.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.EquipmentItem.EquipmentType)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Days)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
          
            <td>  @Html.DisplayFor(modelItem => item.EquipmentItem.Name)</td>
            <td>  @Html.DisplayFor(modelItem => item.EquipmentItem.EquipmentType)</td>
            <td>  @Html.DisplayFor(modelItem => item.Days)</td>
            <td>  @Html.ActionLink("Delete", "Delete",new { id = item.EquipmentItem.Id })</td>
        </tr>
        }
    </tbody>
</table>
<p>

    @Html.ActionLink("Back to Inventory", "Index", "Inventory") |  @Html.ActionLink("Create Invoice", "CreateInvoice", "Invoice")
</p>