﻿@model EquipmentRentalWeb.Models.CartItem

@{
    ViewBag.Title = "Details";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Equipment Details</h2>

    <div>
        @*<h4>Equipment</h4>*@
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.EquipmentItem.Id)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.EquipmentItem.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.EquipmentItem.EquipmentType)</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>  @Html.DisplayFor(model => model.EquipmentItem.Id)</td>
                    <td>  @Html.DisplayFor(model => model.EquipmentItem.Name)</td>
                    <td>  @Html.DisplayFor(model => model.EquipmentItem.EquipmentType)</td>

                </tr>
            </tbody>
        </table>
        @Html.HiddenFor(model => model.EquipmentItem.Id)
        @Html.HiddenFor(model => model.EquipmentItem.Name)
        @Html.HiddenFor(model => model.EquipmentItem.EquipmentType)
    </div>
    <div class="form-horizontal">
        <h4>CartItem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to Cart" class="btn btn-success" />
            </div>
        </div>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
}
