﻿@model IEnumerable<EquipmentRentalWeb.Models.Equipment>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>

                @Html.ActionLink("Select", "CartItem", new { id = item.Id }) 

            </td>
        </tr>
    }

</table>
